.detail_first {
  font-size: 41px;
  text-align: center;
}

.detail_private {
  font-size: 40px;
  margin-bottom: 40px;
}

.detail_privatename {
  font-size: 23px;
  text-align: center;
  margin-bottom: 40px;
  color: rgb(70, 70, 70);
}

.detail_energy {
  font-size: 40px;
  margin-bottom: 40px;
}
.detail_energyname {
  font-size: 23px;
  text-align: center;
  margin-bottom: 40px;
  color: rgb(70, 70, 70);
}

.detail_reasonable {
  font-size: 40px;
  margin-bottom: 40px;
}

.detail_reasonablename {
  font-size: 23px;
  text-align: center;
  color: rgb(70, 70, 70);
}

.detail_change {
  font-size: 40px;
}

.detail_changename {
  font-size: 23px;
  text-align: center;
  color: rgb(70, 70, 70);
}
