.h2 {
  font-family: Noto Sans KR;
  font-size: 28px;
  font-weight: 500;
}

div.banpo {
  position: absolute;
  top: 430px;
  margin-top: 50px;
  margin-left: 550px;
  font-family: 'Jua';
}

div.banpo :hover {
  width: 70px;
  height: 70px;
}

div.yeouido {
  position: absolute;
  top: 340px;
  margin-left: 250px;
}
div.yeouido :hover {
  width: 55px;
  height: 55px;
}

div.echon {
  position: absolute;
  top: 330px;
  margin-left: 470px;
}

div.echon :hover {
  width: 70px;
  height: 70px;
}

div.nanji {
  position: absolute;
  top: 220px;
  margin-left: 220px;
}

div.nanji :hover {
  width: 70px;
  height: 70px;
}

div.ddukseom {
  position: absolute;
  top: 290px;
  margin-left: 730px;
}

div.ddukseom :hover {
  width: 70px;
  height: 70px;
}

div.jamsil {
  position: absolute;
  top: 424px;
  margin-left: 720px;
}
div.jamsil :hover {
  width: 70px;
  height: 70px;
}

.popover-basic1 {
  border: solid 1px black;
}

#popover-basic2 {
}
